.typewriter {
  display: inline-block;
  font-size: 1.5rem;
  overflow: hidden;
  border-right: 0.15em solid var(--accent-light);
  white-space: nowrap;
  margin: 0 auto;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--accent-light);
  }
}

@media (max-width: 750px) {
  .typewriter {
    font-size: 1.25rem;
  }
}

@media (min-width: 1000px) {
  .typewriter {
    font-size: 1.75rem;
  }
}

@media (min-width: 1500px) {
  .typewriter {
    font-size: 2rem;
  }
}
