.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tab {
  cursor: pointer;
  font-size: 1.3rem;
  position: relative;
}

.tab::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--foreground);
  transform: scaleX(0);
  transform-origin: left;
  transition: all var(--transition-duration) var(--transition-timing);
}

.tab.active::after {
  transform: scaleX(1);
}

@media (max-width: 800px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .tab {
    font-size: 1rem;
  }
}
