.button {
  background-color: var(--background);
  border: none;
  transition: background-color var(--transition-duration)
      var(--transition-timing),
    color var(--transition-duration) var(--transition-timing),
    opacity 0.2s var(--transition-timing);
}

.button:hover {
  opacity: 0.7;
}
