.icon {
  display: inline-block;
  vertical-align: middle;
  transition: filter var(--transition-duration) var(--transition-timing);
  filter: invert(var(--icon-invert));
}

.icon.iconNoInvert {
  /* display: inline-block;
  vertical-align: middle;
  transition: filter var(--transition-duration) var(--transition-timing); */
  filter: none;
}

.icon.iconReverseInvert {
  filter: invert(calc(1 - var(--icon-invert)));
}
