.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-image: linear-gradient(
    90deg,
    var(--primary-light),
    var(--primary),
    var(--primary-dark),
    var(--primary),
    var(--primary-light)
  );
  background-size: 1000% 100%;
  animation: flowGradient 200s linear infinite;
  color: var(--foreground);
  font-family: var(--font-plus-jakarta);
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  padding: 0.7rem 0.6rem 0.8rem 0.8rem;
  cursor: pointer;
  transition: color var(--transition-duration) var(--transition-timing);
}

@keyframes flowGradient {
  0% {
    background-position: 1000% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Align the right arrow with the text */
.container button > div {
  padding-top: 1px;
}

/* Add transition to the arrow div in its initial state */
.container button > div {
  transition: transform var(--transition-duration) var(--transition-timing);
  transform: rotate(0deg);
}

.container button:hover > div {
  transform: rotate(90deg);
}

@media (max-width: 750px) {
  .container {
    flex-wrap: wrap;
  }
}
