:root {
  /* Light theme (default) */
  --primary: #415a77;
  --primary-light: #56779c;
  --primary-dark: #354a61;

  --secondary: #7d6e83;
  --secondary-light: #9b8ba0;
  --secondary-dark: #5f5264;

  --accent: #e07a5f;
  --accent-light: #f4a261;
  --accent-dark: #c1666b;

  --background: #ffffff;
  --foreground: #000000;
  --icon-invert: 0;

  --transition-duration: 0.5s;
  --transition-timing: ease-in-out;
}

:root.dark {
  /* Dark theme */
  --primary: #6b8bae;
  --primary-light: #8ba7c7;
  --primary-dark: #4a6b8e;

  --secondary: #a08fa6;
  --secondary-light: #b8a9bf;
  --secondary-dark: #7d6e83;

  --accent: #ff9b7d;
  --accent-light: #ffb59d;
  --accent-dark: #e07a5f;

  --background: #111827;
  --foreground: #ffffff;
  --icon-invert: 1;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-plus-jakarta);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color var(--transition-duration) var(--transition-timing),
    background-color var(--transition-duration) var(--transition-timing);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
