.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.temp {
  display: flex;
  gap: 2rem;
  align-items: end;

  span {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: color var(--transition-duration) var(--transition-timing);

  h3 {
    font-size: 3rem;
    font-weight: 1000;
    color: var(--primary);
    transition: color var(--transition-duration) var(--transition-timing);
  }

  p {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;

  p::before {
    content: "•";
    color: var(--primary);
    margin-right: 0.5rem;
    font-weight: bold;
    transition: color var(--transition-duration) var(--transition-timing);
  }
}

.projectsHeader {
  font-size: 1.5rem;
  font-weight: 1000;
  color: var(--primary);
  transition: color var(--transition-duration) var(--transition-timing);
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.projectContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.projectContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projectTitle {
  font-size: 1.5rem;
  font-weight: 1000;
  color: var(--primary);
}
