.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.companyContainer {
  display: flex;
  gap: 2rem;
  align-items: end;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.projectContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.projectContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* font sizes */
.headerFont {
  font-size: 3rem;
  font-weight: 1000;
  color: var(--primary);
}

.subheaderFont {
  font-size: 1.5rem;
  line-height: 1.5;
}

.bulletPointFont {
  font-size: 1.2rem;
  line-height: 1.5;
}

.subheaderFont.highlight {
  font-weight: 1000;
  color: var(--primary);
}

.bulletPointFont::before {
  content: "•";
  color: var(--primary);
  margin-right: 0.5rem;
  font-weight: bold;
  transition: color var(--transition-duration) var(--transition-timing);
}

@media (max-width: 600px) {
  .headerFont {
    font-size: 2rem;
  }

  .subheaderFont {
    font-size: 1.2rem;
  }

  .bulletPointFont {
    font-size: 1rem;
  }

  .projectsContainer {
    gap: 3rem;
  }

  .projectContent {
    gap: 1rem;
  }
}

/* skills display */

.projectSkillsWideView {
  display: block;
}

.projectSkillsSmallView {
  display: none;
  margin-top: 3rem;
}

@media (max-width: 1400px) {
  .projectSkillsWideView {
    display: none;
  }

  .projectSkillsSmallView {
    display: block;
  }
}

/* preview display */
@media (max-width: 700px) {
  .projectContainer {
    flex-direction: column;
  }
}
