.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill {
  --background: #ffffff;
  --foreground: #000000;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--foreground);
  background-color: var(--background);
  padding: 0.5rem 1rem;
  border: 1px solid var(--foreground);
  border-radius: 15px;
  font-weight: 600;
}

.iconWideView {
  display: block;
}

.iconSmallView {
  display: none;
}

@media (max-width: 400px) {
  .skill {
    font-size: 0.7rem;
    padding: 0.1rem 0.5rem;
  }

  .iconWideView {
    display: none;
  }

  .iconSmallView {
    display: block;
  }
}

@media (max-width: 700px) {
  .skill {
    font-size: 1rem;
    padding: 0.2rem 0.7rem;
  }
}
