.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* border: 3px solid var(--accent); */
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  transition: border-color var(--transition-duration) var(--transition-timing);
}

/* .link:hover {
  border: 3px solid var(--accent-dark);
} */

.imageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
}

.previewImage {
  object-fit: contain;
  background-color: var(--foreground);
  border-radius: 10px;
  overflow: hidden;
  transition: background-color var(--transition-duration)
    var(--transition-timing);
}
