/* Level Gauge Styles */
.levelGauge {
  display: flex;
  gap: 4px;
}

.gaugeBox {
  width: 50px;
  height: 10px;
  border-radius: 3px;

  transition: all var(--transition-duration) var(--transition-timing);
}

:global(.dark) .gaugeBox {
  --foreground: #000000;
}
