.container {
  --block-height-row: 80px;
  --block-height-column: 90px;
  --block-height-column-mobile: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0 2rem 0 2rem;
}

.zigzagGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  width: 100%;
  overflow: hidden;
  margin: calc(var(--block-height-row) * -1) 0
    calc(var(--block-height-row) * -1 / 2) 0;
  clip-path: inset(
    calc(var(--block-height-row)) 0 calc(var(--block-height-row) / 2) 0
  );
}

/* Offset the middle column by half the cell height */
.zigzagGrid > *:nth-child(3n + 2) {
  transform: translateY(50%);
}

/* Light mode styles for skillBlock */
.skillBlock {
  background: var(--background);
  color: var(--foreground);
  border: 2px solid var(--foreground);
  border-radius: 16px;
  height: var(--block-height-row);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  transition: background-color var(--transition-duration)
      var(--transition-timing),
    color var(--transition-duration) var(--transition-timing),
    border-color var(--transition-duration) var(--transition-timing);
}

/* Dark mode styles for skillBlock */
:global(.dark) .skillBlock {
  --foreground: #ffffff;

  background: var(--foreground);
  color: var(--background);
  border: 2px solid var(--foreground);
  /* border-radius: 16px; */
}

.skillDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.skillName {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  transition: color var(--transition-duration) var(--transition-timing);
}

.colorExplanationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

@media (max-width: 1250px) {
  .skillName {
    font-size: 0.8rem;
  }
}

@media (max-width: 1150px) {
  .skillBlock {
    flex-direction: column;
    padding: 0;
    height: var(--block-height-column);
    justify-content: center;
  }

  .zigzagGrid {
    margin: calc(var(--block-height-column) * -1) 0
      calc(var(--block-height-column) * -1 / 2) 0;
    clip-path: inset(
      calc(var(--block-height-column)) 0 calc(var(--block-height-column) / 2) 0
    );
  }
}

@media (max-width: 800px) {
  .skillBlock {
    height: var(--block-height-column-mobile);
  }

  .zigzagGrid {
    margin: calc(var(--block-height-column-mobile) * -1) 0
      calc(var(--block-height-column-mobile) * -1 / 2) 0;
    clip-path: inset(
      calc(var(--block-height-column-mobile)) 0
        calc(var(--block-height-column-mobile) / 2) 0
    );
  }
}

@media (max-width: 550px) {
  .container {
    padding: 0;
  }

  .zigzagGrid {
    gap: 20px;
  }
}
