.container {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color var(--transition-duration)
      var(--transition-timing),
    color var(--transition-duration) var(--transition-timing);
}
