.container {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color var(--transition-duration)
      var(--transition-timing),
    color var(--transition-duration) var(--transition-timing);
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid var(--primary);
  padding-bottom: 1rem;
}
