.container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 460px;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: background-color var(--transition-duration)
      var(--transition-timing),
    color var(--transition-duration) var(--transition-timing);
}

.bioCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
  margin-bottom: 2rem;
  gap: 2rem;
  font-size: 1.2rem;
}

.description {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 760px) {
  .title {
    font-size: 1.6rem;
  }

  .buttonText {
    font-size: 1rem;
  }

  .bioCards {
    gap: 1rem;
    text-align: center;
    font-size: 0.8rem;
  }
}
