.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tab {
  display: flex;
  cursor: pointer;
  font-size: 1.3rem;
  position: relative;
  color: var(--foreground);
  transition: color var(--transition-duration) var(--transition-timing);
}

.tab::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--foreground);
  transform: scaleX(0);
  transform-origin: left;
  transition: background-color var(--transition-duration)
      var(--transition-timing),
    color var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing);
}

.tab.active {
  color: var(--primary);
}

.tab.active::after {
  background-color: var(--primary);
  transform: scaleX(1);
}

@media (max-width: 800px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .tab {
    font-size: 1rem;
  }
}
