.container {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0rem 1.5rem;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  transition: background-color var(--transition-duration)
      var(--transition-timing),
    color var(--transition-duration) var(--transition-timing),
    top var(--transition-duration) var(--transition-timing);
}

.hidden {
  top: -50px;
}

.socialLinks {
  display: flex;
  gap: 1rem;
}

.socialLinks a {
  opacity: 1;
  transition: opacity 0.2s var(--transition-timing);
}

.socialLinks a:hover {
  opacity: 0.7;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
}

.navLinks > a {
  text-decoration: none;
  font-size: 1.25rem;
}

/* Mobile Navbar Styling */
@media (max-width: 750px) {
  .container {
    padding: 0rem 1rem;
  }

  .navLinks {
    display: none;
  }
}
