.container {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 1000;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 50px;
  transition: background-color var(--transition-duration)
      var(--transition-timing),
    color var(--transition-duration) var(--transition-timing),
    top var(--transition-duration) var(--transition-timing);
}

.hidden {
  top: -50px;
}

.navLinks {
  position: relative;
  display: flex;
  gap: 1.5rem;
}

.themeSelector {
  position: absolute;
  top: 10px;
  right: 10px;
}
.navLinks > a {
  text-decoration: none;
  font-size: 1.25rem;
}
